    
        <div class="father w-full flex justify-center items-center ">
            <form   #myForm="ngForm" class="w-full flex justify-center items-center h-full" >
            <div class="relative register p-4 pt-[3rem]  bg-white w-[90%] rounded-[10px] flex justify-center items-center flex-col gap-4" >
                 
                <p class=" text-5xl font-semibold mb-0 text-[#164372] ">Join Us Now</p>
                <p class=" text-lg font-medium mt-0 text-gray-400 ">Thank you for your confidence</p>
                    <input type="email" class="w-[95%] h-[2rem] rounded-xl bg-amber-100 p-2 outline-none" placeholder="your mail" name="email" ngModel required #email="ngModel" email>
                    <input type="text" class="w-[95%] h-[2rem] rounded-xl bg-amber-100 p-2 outline-none" placeholder="your name" name="name" ngModel required #name="ngModel" >

                    <input type="password" class="w-[95%] h-[2rem] rounded-xl bg-amber-100 p-2 outline-none" placeholder="your password" name="password" ngModel required #password="ngModel">
                    <button (click)="onSubmit(myForm,$event)" type="submit" class="p-2 h-[2.5rem] bg-[#164372] text-white w-[10rem] flex items-center justify-center rounded-md text-lg  font-medium" >Register</button>
                    

                </div>
            </form>
        </div>