<div class="father bg-gray-50 w-full lg:pt-[3rem] sm:pt-4">
    <div class="navbar">
        <ul class=" flex gap-4 text-lg font-medium lg:ml-[10rem] sm:ml-4  ">
            <li  class=" hover:cursor-pointer " routerLink="/dashboard/overView" routerLinkActive="active" >
                Overview
            </li>
            <li class=" hover:cursor-pointer " routerLink="/dashboard/reports" routerLinkActive="active">
                Reports
            </li>
            
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>