

<app-nav-bar></app-nav-bar>
  <router-outlet>
    <div *ngIf="readingArticle" class="   bg-gray-100 shadow-lg fixed bottom-8 right-4 rounded-lg p-2 z-[9999999]">
      <div class=" flex items-center justify-end"><i (click)="stopText()" class="fa-sharp fa-solid fa-xmark hover:cursor-pointer "></i></div>
      
      <div class="flex items-center justify-between p-2 gap-2 ">
        <button (click)="playText()" class="bg-green-600 px-4 flex justify-center text-white font-medium h-[2rem] leading-4 items-center rounded-[20px] hover:cursor-pointer">Play Text   </button>
      <button (click)="pausText()" class="bg-green-600 px-4 flex justify-center text-white font-medium h-[2rem] leading-4 items-center rounded-[20px] hover:cursor-pointer">pause Text  </button>
      <button  (click)="stopText()" class="bg-green-600 px-4 flex justify-center text-white font-medium h-[2rem] leading-4 items-center rounded-[20px] hover:cursor-pointer">stop Reading    </button>
    </div>
      </div>
      
  </router-outlet>

