<div class="father w-full h-[8vh] flex bg-white justify-start gap-[10%]   items-center sticky top-0 z-[99999] ">
    <div routerLink="/" class="logo text-5xl sm:text-xl sm:ml-4 font-medium hover:cursor-pointer ml-[10rem] ">
        <span class="text-amber-400  "> Z</span>-one
      </div>
    

    <div class="items flex text-xl h-full  justify-start items-center gap-[3rem] sm:gap-8 "  >
      
                
        <a (click)="showSettings=false" routerLinkActive="active"  routerLink="/home" class="item flex justify-center items-center h-full ">
         <span class="sm:hidden">  home</span><span>  <i class="fa-solid fa-house  lg:hidden "></i></span>
        </a>
        <a (click)="showSettings=false" routerLinkActive="active" matBadgeSize="small" [matBadge]="nbNotifications" [matBadgeHidden]="nbNotifications==0" matBadgeColor="warn"  routerLink="/notifications" *ngIf="isConnected" class="relative  item flex justify-center items-center  ">
            
            <span class="sm:hidden"> notifications</span> <span><i class="fa-solid fa-bell lg:hidden"></i></span>
          
        </a>
        
        <a (click)="showSettings=false" routerLinkActive="active"  *ngIf="isConnected" routerLink="/write" class="item flex justify-center items-center h-full  ">
             <span class="sm:hidden">write</span> <span class="lg:hidden"><i class="fa-solid fa-pen"></i></span>
        </a>
       <div class="relative ">
        <a routerLinkActive="active"  (click)="showSettings=!showSettings" *ngIf="isConnected"  class="item hover:cursor-pointer">
            <img [src]="img" alt="" class=" w-[35px] "> 
            
        </a>
         <div   *ngIf="showSettings" class=" hover:cursor-default bg-white parentHide border border-solid shadow-lg border-[rgb(211,211,211)] absolute top-[6.3vh] lg:left-[-1.5rem] sm:left-[-10rem]  rounded-[5px] ">
            <div class="hide w-[15rem] min-h-[13rem] p-2 pt-4   ">
               <ul>
                <li class="text-sm mb-4 flex flex-col gap-4 font-light">
                    <div (click)="profile()"  class="item h-[2rem] w-full m-auto flex justify-center items-center text-black font-medium text-sm hover:cursor-pointer border border-solid border-gray-400 rounded-[20px]  ">
                        Profile
                     </div>

                    <div class="flex flex-col ">
                        <div class="text-gray-500 text-xs gap-1">{{user.email}}</div>
                        <div class=" font-medium  ">{{user.name}}</div>
                  
                    </div>
                    
                    <hr>
                </li>
                <li>
                    <div  (click)="logout()" class="item  hover:cursor-pointer text-sm font-light  mb-4 ">
                        Log Out
                     </div>
                </li>
                <li class=" text-sm font-light mb-4 ">
                    <div   class="item  hover:cursor-pointer ">
                        Adjust Profile
                     </div>
                </li>
                <li (click)="stat()" class=" text-sm font-light mb-4 hover:cursor-pointer ">
                    Stats
                </li>
                <li (click)="saves()" class=" text-sm font-light mb-4 hover:cursor-pointer ">
                    Saves
                </li>
                <li (click)="history()" class=" text-sm font-light mb-4 hover:cursor-pointer ">
                    Reading History
                </li>
                <li (click)="settings()" class=" text-sm font-light mb-4 hover:cursor-pointer ">
                    Settings
                </li>
                <li *ngIf="user.role==='admin'" (click)="accessDashboard()" class=" text-sm font-light mb-4 hover:cursor-pointer ">
                    Admin Dashboard
                </li>
               </ul>
            </div>
         
            <div class="corner bg-white absolute top-[-9px] lg:right-[80%] sm:right-[22%] "></div>
        </div> 
       </div>
        
    </div>
</div>
